<header>
  <h1>Github with style</h1>
  <span class="small">
    Add a little bit of style to your github workflow
  </span>

</header>
<p>
Keep your project tidy. Automatically check your pull requests for style
errors.
</p>

<p class="call-to-action">
<a {{action 'login'}} class=login">
  Log in with you github account
</a>
and select the repositories you want us to check for you
</p>
